# 应用基础配置
APP_NAME=本地速送平台
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

# 数据库配置
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=susong
DB_USERNAME=root
DB_PASSWORD=root

# Redis 配置
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_DB=0
REDIS_CACHE_DB=1

# 缓存 / 队列 / 会话
CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

# 文件存储：local / oss
FILESYSTEM_DISK=local

# 前端访问端口（开发环境）
VITE_APP_URL=http://localhost:5173

# UI 尺寸规格：S=小 M=中（默认） L=大
# 控制管理后台字体、图标、按钮全局尺寸
# 可选值：S | M | L
VITE_UI_SIZE=M
